image.img
generic_os/*.o
generic_bootloader/*.img
uefi/crt_aarch64.c
uefi/crt_riscv64.c
uefi/crt_x86_64.c
uefi/dirent.c
uefi/elf_aarch64_efi.lds
uefi/elf_riscv64_efi.lds
uefi/elf_x86_64_efi.lds
uefi/Makefile
uefi/qsort.c
uefi/stat.c
uefi/stdio.c
uefi/stdlib.c
uefi/string.c
uefi/time.c
uefi/uefi.h
uefi/unistd.c
